body {
  height: 100%;
  overflow-x: hidden; 
}

.welcometext {
  color:black;
  font-family: timesnewroman;
  font-size: 40px;
  text-align: center;
  border-bottom-style: ridge;
  border-bottom-color: gold;
  border-bottom-width: 2px;

}

body {
  background-color: white;
  height: 1000px;
}

.quote{
  color:rgb(187, 140, 10);
  font-family: timesnewroman;
  font-size: 2rem;
  text-align: center;
  margin-bottom: .1%;
}

.quotecite{
  color:rgb(187, 140, 10);
  font-family: timesnewroman;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0%;
}

fieldset{
  background-image: url('./images/formbg.jpg');
  border-color: black;
  height: 900px;
  width: 92rem;
  overflow-y: scroll;
  scrollbar-color: gold;
  border-width: 4px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.introContainer{
  margin: 0 auto;
  text-align: center;
  width: 50%;
  overflow-x: hidden;
}

.formLabel{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.dropdownLabel{
  font-size: clamp(1vh, 2.5vh, 2rem);
  text-align: center;
  font-weight: bold;
}

.inputDiv{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: fit-content;
}

.signupInput{
  height: 2.5rem;
  width: 50%;
  border-color: goldenrod;
  border-width: 5px;
  text-align: center;
  font-size: 2rem;
  padding: .5rem;
  margin-bottom: 4rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.signupInput:hover{
  border-color: black;
}

.signupInput:focus, .addressline:focus{
  outline: none;
  box-shadow: 0 0 0 3px gold;
  border-color: black;
  border-style: solid;
}

.multi:focus{
  outline: none;
  box-shadow: 0 0 0 2px gold;
  border-color: black;
  border-style: solid;
}


.HJMimage{
  background-image: url("./images/HJMpattern.jpg");
  background-color: black;
  width: 100%;
  background-position: center;
  height: 100px;
  border-bottom: solid 4px gold;
}

.submitButton{
  border: solid 4px gold;
  height: 5rem;
  width: 13rem;
  margin-top: 1rem;
  font-size: 2rem;
  background-color: white;
}

.submitButton:hover{
  background-color: gold;
  color: white;
  border-color: gold;
}

.nextButton{
  background-color: white;
  color: black;
  border-color: gold;
  height: 2.5rem;
  width: 7rem;
  font-size: 15px;
  margin-right:1rem;
  float: right;
  margin-top: 5rem;
  position: relative;
  margin-bottom: 1rem;

}

.nextButton:hover{
  background-color: gold;
  color: white;
}

.nextButton:disabled{
  background-color: rgb(211, 211, 211);
  color: rgb(97, 97, 97);
  border-color: rgb(97, 97, 97);
}


.formPageTitle{
  font-size: 30px;
  margin-bottom: 2%;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, gold, goldenrod) 1;
  display: inline-block;
}

.formPageTitleContainer{
  text-align: center;
}


.dropdown{
  height: 40px;
  width: 20%;
  text-align: center;
  font-size: 150%;
  margin-bottom: 4%;
  border-color: gold;
  border-width: 2px;
  border-style: inset;
  outline: none;
  position: relative;
}

select {
  height: 40px;
  width: 20%;
  text-align: center;
  font-size: 150%;
  margin-bottom: 4%;
  border-color: gold;
  border-width: 2px;
  border-style: inset;
  outline: none;
  position: relative;
}

.dropdown:active{
  border-style: outset;
}

.dropdown:focus{
  border-style: outset;
}

.dropdown:hover{
  background-color: rgb(250, 250, 250);
}

::-webkit-scrollbar{
  width: 9px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  box-shadow: inset 0 0 5px lemonchiffon;
}

::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgoldenrod;
}

.addressline{
  height: 23px;
  width: 50%;
  border-color: goldenrod;
  border-width: 5px;
  text-align: center;
  font-size: 30px;
  padding: 1%;
  margin-bottom: 4%;
  background-color: white;
}

.addressline:hover{
  border-color: black;
}

.doubleContainer{
  margin-left: auto;
  margin-right: auto;
  width:55%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0%;
}

.singleContainer{
  width: 40%;
  float: left;
  display: block;
}

.miniLabel{
  font-size: 130%;
  font-weight: bold;
  float: left;
  margin-bottom: 0.3em;
}

.miniInput{
  position: relative;
  height: 1rem;
  width: fit-content;
  border-color: goldenrod;
  border-width: 3px;
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem;
  background-color: white;
  margin-left: auto;
  float: left;
}


@media (max-width: 1000px) {
  .doubleContainer {
    flex-direction: column; 
    align-items: center;  
  }

  .singleContainer {
    width: 90%; 
    margin-bottom: 1rem; 
  }

  .thirdContainer {
    margin-bottom: 1rem; 
  }

  .miniLabel{
    width: 100%;
    text-align: center;
  }

  .miniInput{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 1em;
  }

  .signupInput{
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown{
    font-size: 100%;
  }

  .addressline{
    font-size: 1.1rem;
  }
  
}

.thirdContainer{
  margin: 0 auto;
  width: 20%;
  margin-top: 2%;
  margin-bottom: 4%;
  height: 5em;
}

.miniInput:focus{
  outline: none;
  box-shadow: 0 0 0 2px gold;
  border-color: black;
  border-style: solid;
}

.submitButton:disabled:hover{
  background-color: lightgrey;
  border-color: darkgray;
}

.titleContainer {
  text-align: center;
}

.thankyou {
  margin-top: 5%;
  font-size: 600%;
  font-weight: bolder;
  background: linear-gradient(to right, purple, goldenrod);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 5px solid;
  color: transparent;
  border-image: linear-gradient(to right, purple, goldenrod) 1;
  width: fit-content;
  margin: 0 auto; 
}

.contacttext{
  font-size: 200%;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 8%;
}

.declarationtext{
  font-size: 120%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  width: 80%;
  height: fit-content;
}

.declarationcheckbox{
  size: 100%;
  margin-bottom: 4%;
  height: 35px;
  width: 40px;
  margin: 0 auto;
}

.agreeLabel{
  font-size: 120%;
  margin-bottom: 50px;
  display: inline-flex;
  font-size: 25px;
  margin-left: 0%;
  height: 1rem;
}

.checkboxContainer{
  margin: 0 auto;
  margin-left: 10%;
  width: 15%;
  position: relative;
  display: inline-flex;
  text-align: center;
  height: 1rem;
}

.declarationdiv{
  text-align: center;
  border: 3px dashed black;
  height: fit-content;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: 7%;
}

.contactContainer{
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 80px;
  position: auto;
  margin-bottom: 3%;
  border-left: 5px solid goldenrod;
  display: flex;
  align-items: center;
}

.contactImg{
  float: left;
  max-height: 100%;
  max-width: 8%;
  margin-left: 3%;
  display: flex;
  align-items: center;
}

.contactLabel{
  float: left;
  font-size: 200%;
  font-weight: bold;
  margin-left: 5%;
  position: relative;
  padding: 2%;
  text-decoration: none;
  color: black;
  -webkit-transition: color .5s;
  -moz-transition:    color .5s;
  -ms-transition:     color .5s;
  -o-transition:      color .5s;
  transition:         color .5s;
}

@media (max-width: 1023px){
  .contactLabel{
    font-size: 130%;
  }
  .contactContainer{
    width: 100%;
  }
}

.contactLabel:hover{
  color: goldenrod;
}

.warningContainer{
  margin: 0 auto;
  width: 100%;
  height: 30px;
  text-align: center;
}

.warningText{
  color: red;
  font-size: 110%;
}

.bottom{
  position: absolute;
  display: block;
  height: 20%;
  width: 100%;
  background-image: url("./images/HJMpattern.jpg");
  background-color: black;
  margin-bottom: 0;

  margin-top: 10%;
  border-top: 4px solid gold;
}

.closingText{
  color: lightgray;
  margin-top: 2%;
  font-size: 100%;
  -webkit-transition: color .5s;
  -moz-transition:    color .5s;
  -ms-transition:     color .5s;
  -o-transition:      color .5s;
  transition:         color .5s;
  text-decoration: none;
}

.closingText:hover{
  color: darkgoldenrod;
}

.navBar {
  position: sticky; 
  top: 0;
  background-image: url('./images/HJMpattern.jpg');
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: right;
  display: flex;
  border-bottom: 5px solid goldenrod;
  z-index: 1000; 
}

.navbarButton {
  width: clamp(3em, 7em, 10em);
  height: 100%;
  background-image: url('./images/HJMpattern.jpg');
  font-size: clamp(1em, 150%, 2.5rem);
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarButton:hover {
  color: gold;
  background: linear-gradient( rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.103) ), url('./images/HJMpattern.jpg');
}

.navbarImgContainer{
  width: 10%;
  position: absolute;
  display: flex;
  justify-content: left;
  margin-right: 89%;
}

.TopDiv{
  height: fit-content;
  text-align: center;
  background-image: url('./images/HJMpattern.jpg');
  border-bottom: 2px solid goldenrod;
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
}

.homePageWelcomeText{
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: .6rem;
}

.homePageSub{
  color: white;
}

.aboutUsContainer{
  width: 100%;
  min-height: 60vh;
  border-top: .5rem solid goldenrod;
  border-bottom: .5rem solid goldenrod;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
}

.aboutUsDesc{
  margin-left: 2rem;
  width: 90%;
  font-size: clamp(1vh, 2.5vh, 2rem);
  border-left: .2rem dotted goldenrod;
  padding: 1rem;
  height: fit-content;
}

@media (min-width: 1024px) {
  .aboutUsContainer{
    justify-content: space-between; /* Applied only on larger screens */
    flex-direction: row; /* Change to row for screens 1024px and wider */
  }
}

@media (max-width: 1023px){
  .aboutUsTitle{
    margin-left: auto;
    margin-right: auto;
  }

  .aboutUsDesc{
    padding: none;
    text-align: center;
    border-left: none;
    border-bottom: .2rem dotted goldenrod;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
  }
}

.aboutUsTitle{
  margin-left: 3rem;
  width: fit-content;
  border-bottom: .2rem solid goldenrod;
  font-size: clamp(2vh, 3rem, 3rem);
}


.aboutUsPics{
  height: 25rem;
  width: 45%;
  border: 5px solid darkgoldenrod;
  border-radius: 1rem;
  animation: changeImg 20s infinite steps(1);
  background-size: 100% 100%;
  animation-fill-mode: forwards; 
}
@media (max-width: 1023px) {
  .aboutUsPics{
    width: 90%;
    margin-bottom: 3%;
    margin-top: 3%;
    height: 20rem;
  }
}

.aboutUsText{
  max-width: 90%;
}

@media (min-width: 1024px) {
.aboutUsText{
  max-width: 50%;
}
}

.aboutUsPics::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  background-image: url('./images/HJMfront.jpeg'), url('./images/eidinside.jpg'), url('./images/eidoutside.jpg'); /* Preload images */
}

::-moz-selection { 
  color: black;
  background: gold;
}

::selection {
  color: black;
  background: gold;
}

@keyframes changeImg {
  0% {
    background-image: url('./images/HJMfront.jpeg');
  }
  20% {
    background-image: url('./images/eidinside.jpg');
  }
  40% {
    background-image: url('./images/eidoutside.jpg');
  }
  60% {
    background-image: url('./images/basketball2.jpg');
  }
  80% {
    background-image: url('./images/game.jpg');
  }
}

.homePageDiv{
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ourServicesContainer{
  width: 100%;
  height: fit-content;
  margin-top: 3em;
  border-top: .5rem solid orange;
  border-bottom: .5rem solid orange;
  float: left;
  background-image: url("./images/webbg.jpg");
}

.ourServicesTitle{
  margin-left: 3rem;
  width: fit-content;
  height: fit-content;
  border-bottom: .2rem solid orange;
  margin-bottom: 2em;
}

.serviceContainer{
  height: fit-content;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}


@media (max-width: 1023px){
  .serviceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .containerOfTwo{
    flex-direction: column;
  }
}

.services{
  height: 15em;
  width: 100%;
  border: .3em solid orange;
  background-size: 100% 100%;
}

.servicesDesc{
  font-weight: 600;
  font-size: clamp(1em, 1.5em, 2em);
  float: left;
}

.servicesDescTime{
  font-weight: 600;
  color: navy;
  font-size: 1em;
}

.eventsContainer{
  width: 100%;
  height: 90vh;
  border-top: 1rem solid navy;
  border-bottom: 1rem solid navy;
  margin-top: 3rem;
  background: linear-gradient( rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.212) ), url('./images/bluepattern.avif');
  display: flex;
  flex-direction: column;
}

.bannerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.eventContainer{
  width: 90%;
  min-height: 15rem;
  border: .5em solid navy;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: lightgray;
  float: left;
}

.eventsTitle{
  margin-left: 3rem;
  width: fit-content;
  height: fit-content;
  border-bottom: .5rem solid Navy;
  margin-bottom: 1.2rem;
  font-size: 3rem;
  color: white;
  font-weight: 700;
}

.eventDateTime{
  min-height: 100%;
  min-width: 15vw;
  border-right: .5rem solid Navy;
  text-align: center;
}

.eventMonth{
  font-size: 400%;
  font-weight: bolder;
  color: Navy;
  margin-top: 0;
}

.eventDay{
  font-size: 300%;
  font-weight: bolder;
  color: Navy;
  margin-top: 0;
}

.eventTime{
  font-size: 150%;
  font-weight: bolder;
  color: Navy;
  margin-top: 2rem;
}

.eventBody{
  height: 100%;
  width: 75%;
  text-align: left;
  overflow-y: hidden;
  display: block;
  font-size: 1em;
  overflow-x: hidden;
}

.eventHeader{
  color: navy;
  font-size: 2em;
  margin-top: .2em;
  margin-left: .5em;
  font-weight: 700;
  margin-bottom: 0em;
  overflow-x: hidden;
}

.eventDesc{
  color: navy;
  font-size: 120%;
  margin-left: 1.2%;
  font-weight: 500;
  overflow-x: hidden;
}

.eventsMiniContainer{
  height: 60vh;
  width: 80%;
  border: 1em solid Navy;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 2em;
  border-radius: 2em;
  background-color: rgba(119, 119, 119, 0.644);
  display: flex;
  flex-direction: column;
}

.event{
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px){
  .event{
    flex-direction: column;
  }

  .eventDateTime{
    width: 100%;
    border-bottom: .5rem solid navy;
  }

  .eventBody{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .eventHeader{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4%;
  }

  .eventDesc{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

}

.announcementsDiv{
  border: 7px solid blueviolet;
  height: 75vh;
  width: 90%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient( rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.781) ), url('./images/masjidbackground.jpg');
  background-size: 100% 100%;
  overflow-y: scroll;
}

.announcementDiv{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  overflow-y: scroll;
}

.announcementsTitle{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  border-bottom: .5rem solid blueviolet;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  color: blueviolet;
  font-weight: 700;
}

.announcement{
  margin-left: auto;
  margin-right: auto;
  border: 5px solid blueviolet;
  min-height: 30vh;
  width: 80%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.637);
  border-radius: 2em;
  margin-bottom: 1em;
}

.anTopDiv{
  border-bottom: 3px solid black;
  width: 100%;
  min-height: 5em;
  display: flex;
  background-color: rgba(245, 245, 245, 0.534);
  justify-content: left;
  align-items: center;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

.announcementIconContainer{
  height: 4em;
  width: 4em;
  background-image: url("./images/anicon.png");
  background-size: 100% 100%;
  margin-left: 1em;
  display: block;
}

.anTitle{
  margin-left: .5em;
  color: blueviolet;
  font-size: 2em;
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  font-weight: 700;
}

.anDate{
  height: fit-content;
  width: 15em;
  font-size: 1.5em;
  text-align: left;
  font-weight: 500;
  padding-left: 5px;
}

.anBody{
  width: 90%;
  margin-top: .5em;
  height: fit-content;
  margin-left: 1em;
  text-align: left;
  font-size: 1.4em;
  font-weight: 500;
  color: black;
  margin-bottom: 2%;
}

.prayersDiv{
  max-width: 100%;
  height: 4em;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
  overflow-y: hidden;
}

.prayerTime{
  height: fit-content;
  display: flex;
  width: clamp(8em, 13em, 15em);
  color: white;
  align-items: center;
  text-align: center;
  border-left: 3px solid gold;
  margin-left: .1em;
  flex-direction: row;
}

.prayerDesc{
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

.donationsContainer{
  width: 100%;
  height: 40rem;
  margin-top: 3em;
  border-top: 1em solid darkgreen;
  border-bottom: 1em solid darkgreen;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.027), rgba(0, 0, 0, 0.027) ), url('./images/bggreen.jpg');
  }

  .donationsTitle{
    height: fit-content;
    width: fit-content;
    border-bottom: 5px solid whitesmoke;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 400%;
    color: white;
  }

  .donationQuote{
    color: white;
    font-size: 180%;
    width: 90%;
    margin-left: 2%;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }

  .dQuoteCiting{
    color: white;
    font-size: 140%;
    width: fit-content;
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    font-weight: 500;
  }

  .donateButton{
    position: relative;
    width: clamp(10em, 15em, 12em);
    height: 7em;
    border: 5px solid gold;
    margin-top: 5%;
    margin-left: 2%;
    background-color: lightgoldenrodyellow;
    font-size: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    -webkit-transition: background-color .3s;
  -moz-transition:    background-color .3s;
  -ms-transition:     background-color .3s;
  -o-transition:      background-color .3s;
  transition:         background-color .3s;
  text-decoration: none;
  color: black;
  padding: .5%;
  }

.buttonText{
  width: fit-content;
  margin: auto;
  font-size: 200%;
  font-weight: 700;
}

.donateButton:hover{
  background-color: gold;
  color: black;
}

.donateButtonDivs{
  width: 100%;
  display: flex;
  height: 20em;
  flex-direction: row;
}

.PAYPAL{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: none;
  font-size: 200%;
  font-weight: 700;
  margin: 0 auto;
}

.ORdiv{
    width: 5%;
    height: 7em;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 100%;
    text-align: center;
    align-items: center;
    display: flex;
}

.OR{
  width: fit-content;
  margin: auto;
  font-size: 300%;
  font-weight: 600;
  color: lightgoldenrodyellow;
}


.contactDiv{
  width: 100%;
  min-height: 40vh;
  border-top: .5em solid black;
  border-bottom: .5em solid black;
  margin-top: 3%;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: rgba(211, 211, 211, 0.164);
}

.copyrightContainer{
  min-width: 30%;
  height: 3em;
  margin-bottom: -.5%;
  font-weight: 500;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.menuDiv{
  height: 100%;
} 

.menuDropDown{
  height: fit-content;
  width:100%;
  display: flex;
  flex-direction: column;
  border: 5px solid goldenrod;
  overflow-y: scroll;
}

.navBarButton-active{
  background-image: url('./images/HJMpattern.jpg');
  width: clamp(3em, 7em, 10em);
  height: 100%;
  font-size: clamp(1em, 150%, 2.5rem);
  border: none;
  color: gold;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.103) ), url('./images/HJMpattern.jpg');
}

.navBarButton-active:hover{
  border: 3px solid goldenrod;
  background-image: url('./images/HJMpattern.jpg');
  background: linear-gradient( rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.103) ), url('./images/HJMpattern.jpg');
}

.menuButton{
  width: 100%;
  height: 11vh;
  font-size: clamp(1em, 150%, 2.5rem);
  background-image: url('./images/HJMpattern.jpg');
  color: gold;
  background-color: navy;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.menuButton:hover{
  background: linear-gradient( rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.103) ), url('./images/HJMpattern.jpg');
}

@media (max-width: 1000px){
  .aboutUsTitle{
    margin-left: auto;
    margin-right: auto;
  }

  .eventsTitle{
    margin-left: auto;
    margin-right: auto;
  }

  .ourServicesTitle{
    margin-left: auto;
    margin-right: auto;
  }

  .donationsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .donationsTitle{
    margin-left: auto;
    margin-right: auto;
  }

  .donationQuote{
    margin-left: auto;
    margin-right: auto;
  }

  .donateButtonDivs{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    flex-direction: column;
  }

  .ORdiv{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 3%;
  }

  .dQuoteCiting{
    margin-left: 2em;
  }

  .donateButton{
    margin-bottom: 3%;
    margin-top: 3%;
    height: 7em;
  }

  .PAYPAL{
    font-size: clamp(.5em, 1em, 1em);
  }

  .buttonText{
    font-size: clamp(.5em, 1em, 1em);
  }
}